<!DOCTYPE html>
<html>
<head>
  <title>E-Journal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "background-color:SILVER" >
  <div class="container-fluid" style = "padding-left:180px; background-color:black;">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://0.0.0.0:3000/resumes">
        <%= image_tag "Computer.jpg",size:"100x100",align:"left" %>
      </a>
       <div class="title"style ="padding-left:60px;" >
	<h1><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color=white face="">Campazine</font></h1>
	</div>
    </div>
  </div>
</nav>
<div class="navbar">
  <div class="navbar-inner">
   
    <a class="brand" href="#">Compazine</a>

        <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
    </form>

   </div>
</div>



<div class="container" style="padding-top:20px;">
<%= yield %>
</div>
</body>
</html>
