<!DOCTYPE html>
<html>
<head>
  <title>E-Journal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "background-color:SILVER" >
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid" style = "padding-left:180px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://0.0.0.0:3000/resumes">
        <%= image_tag "Computer.jpg",size:"100x100",align:"left" %>
      </a>
       <div class="title"style ="padding-left:60px;" >
	<h1><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Compazine</h1>
	</div>
    </div>
  </div>
</nav>

<div class="container" style="padding-top:20px;">
<%= yield %>
</div>
</body>
</html>
